.filterHeading {
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 40px;
}
.filterTab {
    display: inline-block;
    width: fit-content;
    padding: 0 15px;
    font-size: 2.1rem;
    line-height: 2.8rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}
.activeFilterTab {
    display: inline-block;
    width: fit-content;
    padding: 0 15px;
    font-size: 2.1rem;
    line-height: 2.8rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: white;
    background-color: black;
    cursor: pointer;
}
.filterSelect {
    position: relative;
    display: inline-block;
    line-height: 2.8rem;
}
.filterOptions {
    position: absolute;
    background-color: white;
    line-height: 2.8rem;
    z-index: 999;
    cursor: pointer;
}
.filterOption {
    width: fit-content;
    padding: 0 15px;
    font-size: 2.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: black;
}
.activeFilterOption {
    width: fit-content;
    padding: 0 15px;
    font-size: 2.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: white;
    background-color: black;
}