.mainCategoryWrapper {
    display: inline-flex;
    align-items: center;
}
.mainCategory {
    color: var(--highlight-color);
    font-size: 5.4rem;
    font-weight: bold;
    border-right: 2px solid black;
    width: fit-content;
    padding-right: 15px;
    flex-shrink: 0;
}
.mainCategoryDescription {
    font-size: 1.4rem;
    line-height: 1.9rem;
    width: fit-content;
    padding-left: 15px;
}
.loadArticlesStatus {
    font-size: 1.4rem;
    line-height: 1.9rem;
    text-align: center;
}