@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container-size-large: calc(100% - 280px);
  --container-size-medium: calc(100% - 200px);
  --container-size-small: calc(100% - 50px);
  --container-margin-large: 140px;
  --container-margin-medium: 100px;
  --container-margin-small: 25px;
  --primary-background-color: #fff;
  --secondary-background-color: #e0e0e0;
  --primary-font-family: 'Roboto';
  --secondary-font-family: 'Roboto';
  --primary-font-color: #000;
  --secondary-font-color: #4545;
  --highlight-color: #5395E8;
  --anchor-hover-color: #147af7;
}

/* HTML elements */
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  word-wrap: break-word;
}
/* For exactly 300px columns */
html {
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}
body {
  font-family: var(--primary-font-family);
  font-weight: 500;
  background: var(--primary-background-color);
  color: var(--primary-font-color);
}

/* Grid */
.row {
  width: 100%;
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.col-1 {
  width: 300px;
}
.col-2 {
  width: 620px;
}
.col-3 {
  width: 940px;
}
.col-4 {
  width: 1260px;
}

/* Ads */
.article-ad {
  background-color: gray;
  height: 300px;
  width: 300px;
  
}