:root {
  --container-size-large: calc(100% - 280px);
  --container-size-medium: calc(100% - 200px);
  --container-size-small: calc(100% - 50px);
  --container-margin-large: 140px;
  --container-margin-medium: 100px;
  --container-margin-small: 25px;
  --primary-background-color: #fff;
  --secondary-background-color: #e0e0e0;
  --primary-font-family: 'Roboto';
  --secondary-font-family: 'Roboto';
  --primary-font-color: #000;
  --secondary-font-color: #4545;
  --highlight-color: #5395E8;
  --anchor-hover-color: #147af7;
}

/* HTML elements */
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  word-wrap: break-word;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}
body {
  font-family: var(--primary-font-family);
  font-weight: 500;
  background: var(--primary-background-color);
  color: var(--primary-font-color);
}

/* Grid */
.container {
  width: 1260px;
  margin: 50px auto;
}
.row {
  width: 100%;
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.col-1 {
  width: 300px;
}
.col-2 {
  width: 620px;
}
.col-3 {
  width: 940px;
}
.col-4 {
  width: 1260px;
}

/* Ads */
.article-ad {
  background-color: gray;
  height: 300px;
  width: 300px;
  
}

/* Header */
.header {
  margin: -8px;
}
.header-container {
  width: 1260px;
  margin: 0 auto;
}
.top-nav {
  height: 50px;
  color: #fff;
  background-color: #111111;
}
.primary-nav {
  height: 80px;
  background-color: #000;
}
.primary-nav-wrapper {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 28px;
}
.logo {
  width: 150px;
}
.nav-menu {
  display: inline-flex;
  column-gap: 20px;
  width: fit-content;
}
.nav-menu-item {
  color: var(--highlight-color);
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 600;
}
.nav-search {
  color: #FFF;
  font-size: 2.4rem;
   vertical-align: text-bottom;
}